#controls {
    display: flex;
    flex-direction: column;
}
.moveControls {
    background-color: white;
    cursor: pointer;
    border: 0px solid black;
    border-radius: 7px;
    align-items: center;
    padding-top: 6px;
    margin-right: 6px;
}
.moveControls:hover {
    filter: brightness(90%);
}

#colorPicker {
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
}
.colorPicker {
    display: flex;
}
#borderColor, #fillColor {
    margin-left: auto;
    margin-right: 0px;
}
.sudoLabel {
    margin-right: 1em;
}
input[type="color"] {
    margin-left: auto;
    margin-right: 10%;
}
.swapDiv {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

input[type="range"] {
    accent-color: blue;
    width: 100%;
}

#borderPicker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
}

.dashPicker {
    background-color: white;
    cursor: pointer;
    border: 0px solid black;
    border-radius: 7px;
    align-items: center;
    padding-top: 6px;
    margin-right: 6px;
}
.dashPicker span {
    transform: rotate(-45deg);
}
.dashPicker:hover {
    filter: brightness(90%);
}
.dashPicker.active {
    filter: invert(1);
}

.cornerPicker {
    background-color: white;
    cursor: pointer;
    border: 0px solid black;
    border-radius: 7px;
    align-items: center;
    padding-top: 6px;
    margin-right: 6px;
}
.cornerPicker img {
    width: 2em;
}
.cornerPicker:hover {
    filter: brightness(90%);
}
.cornerPicker.active {
    filter: invert(1);
}

.submit {
    width: 100%;
    align-self: flex-end;
}